.BuildControl {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 5px 0;

	.label {
		width: 5rem;
		padding: 1rem;
		font-weight: bold;
		margin: auto;
	}

	button {
		margin: 0.5rem;
	}
}
