.CheckoutModal {
	.list-group {
		.list-group-item {
			display: flex;
			justify-content: space-between;
			.quantity {
				font-weight: bold;
			}
		}
	}
	.total-price {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 1.2rem;
		text-align: center;
		margin-top: 1rem;
	}
}
