.HomePage {
	height: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-top: 1rem;
	.checkout-section {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		background: peachpuff;
		padding: 1rem;
		p {
			width: 5rem;
		}
	}
}
